.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .dropped-list {
    min-height: 100px;
    width: 100px;
    overflow: hidden;
    display: block;
  }

  .dropped-list.onmap {
      height: 100px;
  }
  
  .example-box {
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .north-drop.cdk-drop-list-dragging,
  .south-drop.cdk-drop-list-dragging {
      background-color: rgba(117, 111, 202, 0.5);
      border-radius: 50%;
  }

  #sf-set1,
  #sf-set2,
  #sf-set3,
  #sf-set4,
  #sf-set5 {
    position: absolute;
    transition: 1s all ease-out;
  }
/* start position */
  #sf-set1 {
    left: 80px;
    top: 2px;
    transition-delay: 0.3s;
  }

  #sf-set2 {
    left: 67px;
    top: 27px;
    transition-delay: 0.1s;
  }

  #sf-set3 {
    left: 73px;
    top: 14px;
    transition-delay: 0.3s;
  }

  #sf-set4 {
    left: 57px;
    top: 4px;
    transition-delay: 0.25s;
  }

  #sf-set5 {
    left: 81px;
    top: 78px;
    transition-delay: 0.3s;
  }

/* end position*/
  #sf-set1.ani {
    left: 0px;
    top: 2px;
  }

  #sf-set2.ani {
    left: 14px;
    top: 27px;
  }

  #sf-set3.ani {
    left: 2px;
    top: 14px;
  }

  #sf-set4.ani {
    left: 12px;
    top: 4px;
  }

  #sf-set5.ani {
    left: 18px;
    top: 78px;
  }