<div id="map-stage-wrap">
<img src="assets/map-01.jpg" alt="base US map" class="img-responsive" height="100%">
    <div class="content-info">
        Drag each system to the correct circle to create a storm, then press Go.
        <br><br>

        High Pressure System:
        <br><br>
        <br>
        <div class="hp-hold">
            <img src="assets/high_pressure.png" alt="high pressure icon">
        </div>

        Low Pressure System:
        <br><br>
        <br>
        <div class="lp-hold">
            <img src="assets/low_pressure.png" alt="high pressure icon">
        </div>
    </div>
    <button id="go-button" class="se-button" mat-raised-button (click)="openSnackBar(0)">Go</button>
</div>
