@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

//Title
#maintitle {
	font-weight: bold;
	font-size: 50px;
	line-height: 1em;
	color: white;
	text-shadow: 2px 1px 2px rgba(30,30,35,0.8);
	text-align: left;
}


//Base backgrounds
.snow-bkg {
	background-color: #c5daf4;
	background-image: url(assets/background.jpg);
	background-size: cover; /*1920px 990px;*/
	background-position: top center;
	background-repeat: no-repeat;
	float: none;
	margin: 0px auto;
	max-width: 1920px;
	max-height: 990px;
}

//Sidebar components
.basebox {
	border: 1px solid white;
	background-color: rgba(255,255,255,0.5);
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	line-height: 1.1em;
	padding: 10px;
}
#infobox {
	max-width: 400px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.spaced-text {
	margin-bottom: 60px;
}

.se-button {
	font-size: 30px;
	padding: 10px 20px !important;
	text-align: right;
}

#next-button {
	font-size: 18px;
	float: right;
}

#primary-sidebar {
	max-width: 450px;
}
#accordion-container {
	max-width: 400px;
}
#interactive-stage {
	margin-top: 30px;
}
#map-stage-wrap {
	position: relative;
}
.map-bkg-container {
	position: relative;
}
.map-bkg {
	display: none;
	position: absolute;
}
.map-bkg.active {
	display: block;
}

.overlays-container {
	position: relative;
	width: 1460px;
	height: 930px;
}

#content-info {
	position: absolute;
	bottom: 120px;
	left: 50px;
	width: 375px;
	height: 350px;
	padding: 10px;
	border: 1px solid white;
	background-color: rgba(255,255,255,0.5);
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: bold;
}

#choose-arrow-info {
	position: absolute;
	left: 820px;
	top: 410px;
	width: 290px;
	height: 90px;
}

#go-button {
	position: absolute;
	bottom: 40px;
	left: 330px;
	font-size: 40px;
}

#go-button-two {
	position: absolute;
	left: 1010px;
	top: 510px;
	font-size: 40px;
}


#drag-item-high,
#drag-item-low {
	width: 100px;
	height: 100px;
	/*position: absolute;*/
	z-index: 9999;
}

#landing-pad-north,
#landing-pad-south {
	/*position: absolute;*/
	width: 100px;
	height: 100px;
	border: 2px dashed white;
	border-radius: 50%;
}

#landing-pads.active div {
	border: 2px solid transparent;
}

.ts-box {
	width: 340px;
	height: 200px;
}
.ts-button {
	height: 80px;
	width: 120px;
	color: white;
	font-size: 22px;
	text-shadow: 1px 1px 2px rgba(30,30,35,0.2);
	margin: 10px !important;
}
.temp-button-wrap {
	text-align: center;
}
#northern-temp-prompt {
	position: absolute;
	right: 40px;
	top: 40px;
}
#southern-temp-prompt {
	position: absolute;
	right: 40px;
	bottom: 40px;
}

#north-cold-button,
#south-cold-button {
	background-color: #2757ee;
}
#north-warm-button,
#south-warm-button {
	background-color: #e02e2e;
}


/* DRAG/DROP */
#launch-list {
	width: 100px;
	height: 230px;
	position: absolute;
	left: 320px;
	bottom: 120px;
}
#landing-list {
	width: 100px;
	height: 300px;
	position: absolute;
	left: 736px;
	top: 320px;
}

#landing-pads {
	position: absolute;
	left: 736px;
	top: 320px;
}

#landing-pad-south,
.south-drop {
	margin-top: 70px;
}

#proceed-box {
	position: absolute;
	width: 375px;
	height: 60px;
	top: 380px;
	left: 50px;
}

.paperboxed {
	border: 3px dashed #ddd;
	background-color: #fff;
}

#north-moist-button {
	background-image: url('./assets/arrow-top-d.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 260px;
	height: 320px;
	position: absolute;
	top: 155px;
	left: 635px;
	box-shadow: none !important;
	border: none;
	opacity: 0.85;
}
#north-moist-button:hover,
#north-moist-button:active {
	background-image: url('./assets/arrow-top-s.png');
	opacity: 0.9;
}
#south-moist-button {
	background-image: url('./assets/arrow-bottom-d.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 260px;
	height: 320px;
	position: absolute;
	top: 495px;
	left: 685px;
	box-shadow: none !important;
	border: none;
	opacity: 0.85;
}
#south-moist-button:hover,
#south-moist-button:active {
	background-image: url('./assets/arrow-bottom-s.png');
}
#north-moist-button.deactivated,
#south-moist-button.deactivated {
	opacity: 0.3;
}
#north-moist-button.active {
	background-image: url('./assets/arrow-top-s.png');
}
#south-moist-button.active {
	background-image: url('./assets/arrow-bottom-s.png');
}

#snowstorm-ani {
	position: absolute;
	margin-top: 50px;
	margin-left: 50px;
}

#end-infobox {
	position: absolute;
	left: 50px;
	bottom: 50px;
	width: 450px;
	height: 400px;
	font-size: 18px;
	line-height: 1.3em;
}

.hidden {
	display: none;
}